*
*/**

!*/**/*.svg
!*/**/*.png
!*/**/*.woff
!*/**/*.woff2
!*/**/*.json

!dist/**
!package.json

!vscode.d.ts
!vscode.proposed.d.ts

!icon.png
!README.md
!CHANGELOG.md
!LICENSE.txt
!ThirdPartyNotices.txt
